{% extends "base.html" %}

{% block content_css %}

<link  rel="stylesheet" href="static/infostyle.css">

{% endblock %}

{% block content %}

  {% include 'navbar.html' %}


  <section class = "info-container">
	  <div class = "container">
		  <div class = "row">

			<div class = "col-lg-6 col-md-12 information-card">
				<div class = "row">
					<div class = "col">
					  <div class = "card">
						<h1 class = "card-title">THE PROJECT</h1>
						<div class ="card-body">
						  <p class ="card-text">The proposed solution is to design a detection and prevention system that will one, 
							  					detect plant stress phenotypes such as drought, heat and cold stress, water stress, 
												saline stress, and light stress, two, spray application with the use of hydraulic 
												sprayer and pump, and three, monitor the temperature, salinity, drought, light, 
												and amount of water. The design consists of an enclosure that will contain the 
												plants and the materials necessary to operate the system.</p>
						</div>
					  </div>
					</div>
				  </div>
			</div>

			<div class = "col-lg-6 col-md-12 information-image">
				<img src = "./static/pic.png" alt = "logo" class = "img-fluid">
			</div>
		  </div>
	  </div>
  </section>
  <script>
    if ("{{incorrect}}" == "True") { alert("Username or password is incorrect!"); }
    else if ("{{success}}" == "True") { alert("Welcome, {{fname}}!"); }
  </script>
{% endblock %}