{% extends "base.html" %}

{% block content_css %}

<link  rel="stylesheet" href="static/homestyle.css">

{% endblock %}

{% block content %}

  {% include 'navbar.html' %}

<section class = "home" class>
  <div class = "container">
    <div class = "row">
      <div class = "col">
        <div class = "card">
          <h1 class = "card-title">DESIGN PROJECT</h1>
          <div class ="card-body">
            <p class ="card-text">Design of a Detection and Prevention System for Abiotic Stresses in Plants</p>
            <a href = login>
                  <button class="btn button1">GET STARTED</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}