* {
    margin: 0px;
    padding: 0px;
}

.menu-bar {
    background-color: #55B798;
}

.navbar .nav {
    text-align: right;
    margin-right: 20px;
}

.navbar .navbar-brand {
    color:#ffff;
    font-weight:bold
}

.btn {
    color:#ffff;
    border-color:#ffff;
}

.btn:hover {
    color:#ffff;
    background-color:#55B798;
    border-color:#ffff;
}

.nav-link {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 5px;
    margin-right: 5px;
    color: #ffff!important;
}

.nav-link:hover {
    font-weight: 600;
    border-bottom: 1px solid #ffff;
}

.dropdown-menu {
    background-color:#ffff;
}

.dropdown-item {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 5px;
    margin-right: 5px;
    color: #55B798!important;
}



