<!DOCTYPE html>
<html>
<head>
<style>
    h1 {text-align: center;}
    p {text-align: center;}
    div {text-align: center;}

.center {
  margin: 0;
  position: absolute;
  top: 88%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}   

</style>
<title>Abiotic Stress</title>
</head>
<body>

<div class="image">
<img src="{{url_for('static', filename='image_2.png')}}"  />
</div>

</div>
</form>
</div>
</body>
</html>