{% extends "base.html" %}

{% block content_css %}

<link  rel="stylesheet" href="static/monitorstyle.css">

{% endblock %}

{% block content %}

  {% include 'navbar.html' %}

		<div class="all">
			<img src="static/Asset 1.png" alt="logo">
			<div class="info">
				<div class="title">Parameters</div>
					<div class="list">
						<label>Temperature: </label>
					</div>
					<div class="list">
						<label>Salinity: </label>
					</div>
					<div class="list">
						<label>Light: </label>
					</div>
					<div class="list">
						<label>Amount of Water: </label>
					</div>
					<div class="list">
						<label>Drought: </label>
					</div> 
				</div>
			</div>
		</div>
{% endblock %}