{% extends "base.html" %}

{% block content_css %}

<link  rel="stylesheet" href="static/teamstyle.css">

{% endblock %}

{% block content %}

  {% include 'navbar.html' %}

	<div class="container">
		<div class="banner">
			<h1>TEAM</h1>
		</div>
		<div class="row">
			<div class="col">
				<div class="card">
					<img src="static/abcd.png" class="card-img-top" alt="Anazel Bridget C. Dalistan">
					<div class="card-body">
						<h3>Anazel Bridget C. Dalistan</h3>
						<p class="card-text">Intelligent Systems</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<img src="static/denise.png" class="card-img-top" alt="Denise Keith G. de los Santos">
					<div class="card-body">
						<h3>Denise Keith G. de los Santos</h3>
						<p class="card-text">Intelligent Systems</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<img src="static/charles.png" class="card-img-top" alt="Charles Ian M. Mascareñas">
					<div class="card-body">
						<h3>Charles Ian M. Mascareñas</h3>
						<p class="card-text">Intelligent Systems</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<img src="static/wilson.png" class="card-img-top" alt="Reinhart Wilson L. Regulacion">
					<div class="card-body">
						<h3>Reinhart Wilson L. Regulacion</h3>
						<p class="card-text">Data Science</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}